ServiceTest/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary.WCFClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary.WCFClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:int" />
      <xs:element minOccurs="0" name="OtherInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settlement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressWCF" nillable="true" type="tns:AddressWCF" />
</xs:schema>